//début animation loader
@keyframes loader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

//fin animation loader 

//début animation appear
@keyframes appear {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes delays {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

//fin animation appear