   @import "_var";
   @import "_mixin";
   /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */
    
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            // font: inherit;
            vertical-align: baseline;
        }
    
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol,ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }



*{
font-family: $Roboto; 
}

// Debut header

.navbarContent {
   width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
   
        .logoImage {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px;
            margin-bottom: 5px;
            background-color:$white;
            box-shadow: 0px 6px 6px $dark-grey-header;
           
            @media (min-width: 1024px) {
                width: auto;
                box-shadow: none;
            }

                .logoHeader {
                        width: 50%;
                }
                        
        }

        .searchContent {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px;
            background-color: $light-grey-header;
           
            .localisation-icone {
                    color: $dark-grey;
            }

            input {
                    border: none;
                    background-color: $light-grey-header;
                    text-align: center;
                    color: black;
                    font-weight: bold;
                    font-size: 15px;
            
            }
        }
}


.underNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $light-grey;
    padding-bottom: 20px;

    @media (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1{
            margin-top: 30px; 
            margin-left: 50px;
            margin-right: 50px;
            font-weight: bold;
            font-size: 20px;
            text-align: center;

            @media (min-width: 1024px) {
                    font-size: 30px;
                }
        }

        .underNavText{
            margin-top: 20px;
            text-align: center;
        }

        .underNavButton{
            text-decoration: none;
            margin-top: 20px;
            margin-bottom: 30px;
            @include gradientButton;
            display: flex;
            align-items: center;

            @media (min-width: 1024px) {
                   width: auto;
                   margin: 0;
                   margin-top: 20px;
                   display:flex ;
                   align-items: center;
                   justify-content: center;
                }
        }
}
// fin header

// debut section fonctionnement
.fonctionnement{
    margin-top: 50px;
    margin-bottom: 50px;

    @media (min-width: 1024px) {
         margin-left: 150px; 
         margin-right: 150px;
        }
  

    .fonctionnementTitle{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;

    @media (min-width: 1024px) {
            margin-bottom: 20px;
            margin-left: 25px;
        }
    
    }

    .fonctionnementButton{ 
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1024px) {
                display: flex;
                flex-direction: row; 
            }
        
        .number {
                background-color: $purple;
                width: 25px;
                height: 25px;
                border-radius: 50px;
                color: $white;
                font-size: 14px;
                border: none;
                position: relative;
                top: 45px;
                right: 140px;
        
                @media (min-width: 1024px) {
                        position: relative;
                        left: 15px ; top: 0px;
                        width: 65px;
                        height: 30px;
                    }
        }

        .btnFonctionnement{
            width: 90%;
            height: 60px;
            border-radius: 20px;
            color: $dark;
            background-color: $light-grey;
            font-weight: bold;
            font-size: 15px;
            border: none;
            box-shadow: 5px 10px 15px $dark-grey-header;
            
            .fonctionnementIcone {
                padding-right: 30px;
                color: $dark-grey;      
            }
        }
    }
}
// fin section fonctionnement

// début section restaurants
.restaurants{
background-color:$light-grey;
padding-top: 40px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 40px;

// .test{
// @media (min-width: 1024px) {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//     }}

    .buttonNew{
        border: none;
        color: $dark-green;
        font-weight: bold;
        background-color: $light-green;
        position: relative;
        top: 40px; left: 200px;
        border-radius: 2px;
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .restaurantsTitle{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;

        @media (min-width: 1024px) {
                width: 100%;
                margin-left: 160px;
            }
    }

    .restaurantCard{
        background-color:$white;
        border-radius: 20px;
        margin-bottom: 15px;
        height: 220px;

        .restaurantsImage{
            width: 100%;
            height: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }

        .subTitleRestaurants{
            margin-top: 10px;
            margin-left: 5px;   
        }

        .textRestaurants{
            margin-top: 5px;
            margin-left: 5px;
        }

        .heartCard{
            border: none;
            background-color: $white;
            position: relative;
            bottom: 30px; left: 240px;
            font-size: 20px;
        }   
    }
}

// fin section restaurants

// début footer
footer{
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 13px;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .logoFooter{ 
        width: 25%; 
        margin-bottom: 20px;

        @media (min-width: 1024px) {
            width: 10%;
            margin-top: 20px;
            margin-right: 50px;
        }
    }
    .lienFoot{
        display: flex;
        flex-direction: column;
        
        @media (min-width: 1024px) {
                display: flex;
                flex-direction: row;
                margin-top: 30px;
                margin-right: 50px;
        }

        .lienFooter{
            text-decoration: none;
            color: $white;  
            margin-bottom: 10px;

            @media (min-width: 1024px) {
                margin-right: 20px;
            }
        
            .fa-utensils{
                margin-right: 15px;
            }

            .fa-handshake-angle{
                margin-right: 10px;
            }
        }
    }        
}
// fin footer

//  