@import "_var";
@import "_mixin";
@import "_animation";
/* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



* {
    font-family: $Roboto;
}


// Début header
.navbarContent2{
    width: 100%;
    display: flex;
    align-items: center;
            
            gap: 21%;
    margin-top: 25px;
    background-color: $white;
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
            gap: 35%;
        }
        @media (min-width: 1440px) {
             display: flex;
             justify-content: flex-start;
             gap: 40%;
         }
    
    .fa-arrow-left {
        color: $dark;
        font-size: 20px;
        font-weight: 900;
       padding-left: 15px;

        
        @media (min-width: 1024px) {
        font-size: 30px;   
        }
    }
    
    .logoHeader {
        width: 150px;

        @media (min-width: 1024px) {
                width: 220px;
            }
    }
    
}
// fin header
main {
    @media (min-width: 1024px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .restaurantsImage2 {
        width: 100%;
        height: 250px;
        position: relative;
        top: 25px;
        object-fit: cover;
   
          @media (min-width: 1024px) {
            height: 450px;
         }
    }
    .menu { 
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: $light-grey;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
        
        @media (min-width: 768px){
            margin-left: 100px;
            margin-right: 100px;
        }

        @media (min-width: 1024px) {
            width: 70%;
            margin-left: 150px;
            margin-right: 150px;
            align-items: center;
        }

        .titleHeart{ 
            display: flex;
            justify-content: center;
            margin-top: 30px;

            h1 {
                font-family: $Shrikhand;
                font-size: 24px;
                

                @media (min-width: 1024px) {
                    font-size: 30px;
                    font-weight: 500;
                    padding-top: 20px;
                }
            }

            // .heartCard {
            //     border: none;
            //     background-color:$light-grey;
            //     font-size: 20px;
            //     margin-left: 20px;
              
                
            //     @media (min-width: 1024px) {
            //         font-size: 30px;
            //         //£+7margin-left: 20px;
            //         margin-top: 13px;
            //     }
            // }
            .heartCard {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 20px;
            
                .fa-regular {
                    position: relative;
                    z-index: 1;
                    left: 20px;
                    background-color: $light-grey;
                    &:hover {
                        opacity: 0;
                    }
            
                    &:active {
                        opacity: 0;
                    }
            
                    @media (min-width: 1024px) {
                        position: relative;       
                        top: 20px;
                        
                    }
                }
            
                .fa-solid {
                    position: relative;
                    background: linear-gradient($pink, $purple);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            
                    &:hover {
                        opacity: 1;
                    }
            
                    &:active {
                        opacity: 1;
                    }
            
                    @media (min-width: 1024px) {
                        position: relative;
                        
                        top: 20px;
                        right: 10px;
                        //left: 20px;
                    }
                }
            
                .fa-heart {
                    border: none;
                    background-color: $white;
                    font-size: 20px;
            
                    @media (min-width: 1024px) {
                        // left: 90%;
                        

                        font-size: 30px;
                    }
                }
            }
        }
        .menuStarter {
            width: 100%;
            @media (min-width: 1440px) {
                display: flex;
                justify-content: center;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                // margin: 20px;
            }

            .subTitleRestaurants {
                width: 13%;
                padding-top: 40px;
                padding-bottom: 7px;
                border-bottom: solid 3px $light-green ;
                
                @media (min-width: 768px) {
                    width: 8%;
                }
            }
            .animationAppear{
                        //   animation: appear 3s ease-in-out;
                        // animation-duration:  infinite;
                        
                    .delay-1 {
                            // transition: all 1s ease;
                            transition: all 1.3s;
                        }
                    
                        .delay-2 {
                            // transition: all 1.5s ease;
                            transition: all 1.3s 0.5s;
                        }
                    
                        .delay-3 {
                            // transition: all 2.3s ease;
                            transition: all 1.3s 1s;
                        }


            .lienMenuRestaurants {
                text-decoration: none;
                color: $dark;
                width: 90%;
                height: 100%;
                border-radius: 15px;

               

                .MenuCard {
                    width: 100%;
                    height: 65px;
                    border-radius: 15px;
                    background-color: $white;
                    margin-top: 20px;
                    box-shadow: 5px 10px 15px $dark-grey-header;
                    display: flex;
                    align-items: center;

                  

                &:hover {
                    .check {
                        width: 30%;
                    }
                }

                &:active {
                    .check {
                        width: 30%;
                    }
                }

                    @media (min-width: 1024px) {
                        width: 550px;
                    }

                    .textMenuCard{ 
                        width: 70%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                            .TitleMenuCard {
                                padding: 10px 15px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                @media (min-width: 1024px) {
                                    font-size: 20px;
                                }
                            }

                            .subTitleMenuCard {
                                padding: 0px 10px 10px 15px;
                                font-size: 13px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                
                                @media (min-width: 1024px) {
                                        font-size: 15px;
                                }
                            }
                        }

                    .price{
                        width: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .priceMenu {
                            font-weight: bold;
                
                            @media (min-width: 1024px) {
                                font-size: 20px;
                            }
                        }
                    }

                    .check{
                        width: 0%;
                        height: 100%;
                        background-color: $light-green;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        transition: all 500ms;

                    
                        .fa-check {
                            width: 25px;
                            height: 25px;
                            font-size: 20px;
                            color: $light-green;
                            background-color: $white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
        .orderButton {
              padding: 40px;
              display: flex;
              justify-content: center;
    
            .linkButton {
                @include gradientButton;
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                &:hover {
                        opacity: 0.85;
                        transition: all 500ms;
                        box-shadow: 2px 2px 15px 2px rgba(124, 124, 124, 0.692);
                }
    
                @media (min-width: 768px) {
                    width: 150px;
                }
            }
        }
    }    
}
}
footer{
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 13px;
    
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .logoFooter {
        width: 30%;
        margin-bottom: 20px;
    
        @media (min-width: 768px) {
            width: 10%;
            margin-top: 20px;
            margin-right: 50px;
        }
    }
    
    .lienFoot {
        display: flex;
        flex-direction: column;
    
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            margin-right: 50px;
        }

        .lienFooter {
            // width: 100%;
            text-decoration: none;
            color: $white;
            margin-bottom: 10px;
    
            @media (min-width: 768px) {
                margin-right: 20px;
            }
    
            .fa-utensils {
                margin-right: 15px;
            }
    
            .fa-handshake-angle {
                margin-right: 10px;
            }
        }
    }
}
